@font-face {
    font-family: 'GeneralSans-Medium';
    src: url('../fonts/GeneralSans-Medium.woff2') format('woff2'),
         url('../fonts/GeneralSans-Medium.woff') format('woff'),
         url('../fonts/GeneralSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    font-family: 'GeneralSans-Bold';
    src: url('../fonts/GeneralSans-Bold.woff2') format('woff2'),
         url('../fonts/GeneralSans-Bold.woff') format('woff'),
         url('../fonts/GeneralSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

body {
    background-color: rgb(197, 197, 197);
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    letter-spacing: 0.5pt;
}

.title {
    font-family: 'GeneralSans-Bold';
    color: rgb(0, 0, 0);
    font-size: 50pt;
    text-align: center;
}

.bodytext {
    font-family: 'GeneralSans-Medium';
    color: rgb(73, 73, 73);
    font-size: 20pt;
    text-align: center;
}
  
ul {
    list-style-position: inside;
    text-align: center;
    padding: 0;
  }
  
  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  