
@font-face {
    font-family: 'WitchHunt';
    src: url('fonts/WitchHunt.woff') format('opentype');
}

body {
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    letter-spacing: 0.5pt;
}

.bodytext {
    font-family: 'WitchHunt';
    color: rgb(159, 16, 211);
    font-size: 20pt;
}

.heading1 {
    font-family: 'WitchHunt';
    color: rgb(111, 140, 198);
    font-size: 100pt;
    text-align: center;
    line-height: 90pt;
}

.heading2 {
    font-family: 'WitchHunt';
    color: rgb(159, 16, 211);
    font-size: 100pt;
    text-align: center;
    line-height: 90pt;
}

.doodle-heading {
    font-family: 'JustMeAgainDownHere-Regular';
    color: rgb(111, 140, 198);
    font-size: 100pt;
    text-align: center;
    line-height: 90pt;
}

.fixed-footer1 {
    position: fixed;
    bottom: 0;
    left: 20px;
    font-family: 'WitchHunt';
    font-size: 20pt;
    color: rgb(111, 140, 198);
    padding: 10px 0;
    z-index: 998;
}

.fixed-footer2 {
    position: fixed;
    bottom: 0;
    right: 20px;
    font-family: 'WitchHunt';
    font-size: 20pt;
    color: rgb(111, 140, 198);
    padding: 10px 0;
    z-index: 999;
}
